*{
    text-align: center;
    
}
body {
    height:2000px;
    width: 800px;
}
#canvas{
    border: 3px solid black;
    background-color: antiquewhite;
    
}

#right, #left, #up, #down,#pause, #refresh{
    margin-left : 20px;
    margin-top: 20px;
}

snake{
    border-radius: 12px;
}
